@charset "UTF-8";
   
*{
margin:0;
    padding:
}
nav#menu {
    width: 100%;
    height: 50px;
    background-color: #222;
    font-family: Arial;
}
nav#menu ul{
   list-style: none; 
   position: relative;
}

nav#menu ul li{
    width: 150px;
    float: left;
}
nav#menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: white;
}
img#foto1{
margin-left: 600px;
margin-top: -600px;
}
h1{
    margin-top: 100px;
    font-size: 80px;
}

nav#menu ul ul{
    position: absolute;
    visibility: hidden;
}
nav#menu ul li:hover ul {
visibility: visible;
}
nav#menu a:hover{
    background-color: #8a8282;
    color: #555;
}
nav#menu ul ul li{
    float: none;
    border-bottom: solid 1px #ccc;
}
