@charset "UTF-8";


p{
    color: rgb(32, 31, 30);
    font-size: 20px;
    font-family: Helvetica,Arial,sans-serif;
}
  body{
 
     
      font-family: Arial;
     background-color: #302f2f;
      }
   
      *{
          margin: 0px;
          padding: 0px;
    
      } 
      
/*Novo Menu*/
input#check{
    display: none;
}
label#icone{
    
    cursor: pointer;
    padding: 15px;
    z-index: 1;
    margin-top: 5px;
    
}
.barra{
   background-color: #5e5e5e3;
   height: 80%; 
   width: 500px;
   position: absolute;
   transition: all .2 linear;
   left: -300px;
   
}
nav#menuRetratil{
    width: 100%;
    position: absolute;
    top: 60px;
    }
    nav#menuRetratil a{
        text-decoration:none;
    }
    .link{
       background-color: #494950;
       padding: 20px;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 12pt;
       transition: all .1s linear;
       color: #f4f4f9; 
       border-bottom: 2px solid #222;
       opacity: 0;
       margin-top: 200px;
    }
    .link:hover{
      background-color: #222;
      color: #ccc;  
    }

    #check:checked ~ .barra{
        transform:translateX(300px);
    }
    #check:checked ~ .barra nav a .link{
        opacity: 1;
        margin-top: 0;
        transition-delay: .1s;
    }



        /*IMAGENS*/
 /*      
img#foto-logo{
    width: 300px;
    margin: 20px;
 

}
*/
img#redes2{
    width: 180px;
    margin-top: 150px;
    margin-left: 30px;
    }
img#voltar{
        width: 30px;
        margin: 20px 0px 0px ;
    }
img#pastor{
        margin-left: 0px;
        margin-bottom: 0px;
    }
    img#pastores{
        width: 155px;
    }
        img#logo{
            width: 180px;
        }
            img#igreja{
                width: 480px;
                margin:auto;
            }
    
  /*CLASSES*/
  .container{
      width: 960px;
      margin:0 auto;
     
  }
   
    /*FONTS*/
h1{
    font-family: 'Roboto', sans-serif;
    color: honeydew;
    font-size: 20px;
    text-align: center;
    /*margin-top: 50px;
    font-size: 50px;*/
}
h3{
    margin-top: 0px;
}
h4{
    font-weight: 700;
    font-size: 15px;
    margin-top: 180px;
    margin-left: 10px;
}

/*CABEÇALHO*/
header{
    background-color:#35b8b0;
    height: 80px;
    padding: 10px;
}

div#div-principal{
    
    background-color:#302f2f;
    min-height: 200px;
    width: 100%;
    
}
div#sociais{
    margin-left: 700px;
    margin-top: -80px;
   
  
}




Footer{
    
    clear: both;
    text-align: center;
    height: 50px;
    padding:10px;
    background-color:#35b8b0;
    color: rgb(19, 17, 17);
   }

    /*TEste do menu*/
    nav#menu {
        width: 100%;
        height: 50px;
        background-color: #222;
        font-family: Helvetica,arial, sans-serif;
        margin-bottom: 0px;
        margin-top: 0px;
        
        
    }
    nav ul{
       list-style: none; 
       position: relative;
       padding: 0;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
    }
    
    
    nav ul li{
        width: 100%;
        text-align: center;
        width: 100%;
        }
      
        nav ul li a{
            padding: 10px 0;
            display: inline-block;
            text-decoration: none;
            width: 100%;
            background-color: #222;
            color: white;
            }
            article{
                margin-top: 250px;
            }
    
    







/*MEDIA QUERIES*/   
@media screen and (min-width: 768px){
    /*NAVEGAÇÃO*/
    nav{
        flex-direction: row;
        justify-content: space-around;
     
    }
    nav ul{
        flex-direction: row;
        width: 70%;
      
    }
   
     /*https://www.udemy.com/course/programacao-web-para-divulgacao-cientifica/learn/lecture/12882666#overview*/

     /*https://www.rapidtables.com/convert/color/cmyk-to-rgb.html*/
   /*Sobre*/

}